body {
    margin: 0;
    background: black;
    color: white;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

pre {
    text-align: center;
}

.card {
    opacity: 0;
    transition: opacity 1s ease;
    position: absolute;
    z-index: -1;
    /* importante pra sobrepor */
    width: 100%;
}

.active {
    opacity: 1;
    position: relative;
    z-index: 1;
}

.ascii-animation {
    display: grid;
    place-items: center;
}

.buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}